@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/*Generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Caveat', cursive;
    display: flex;
}
header{
    width: 300px;
}
main{
    display: flex;
    flex-wrap: wrap;
    width: calc(100vw - 316px);
    margin-left: auto;
}
/*Menu de navegacion*/
.nav{
    width: 300px;
    position: fixed;
}
.nav__link{
    color: azure;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}
.nav__link--inside{
    border-radius: 6px;
    padding-left: 20px;
    text-align: left;
}
.nav__link--inside:hover{
    background-color: darkolivegreen;
}
.list{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background-color: darkslategrey;
}
.list__item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.list__item--click{
    cursor: pointer;
}
.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}
.arrow .list__arrow{
    transform: rotate(90deg);
    transition: transform .3s;
}
.list__arrow{
    margin-left: auto;
}
.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid darkolivegreen;
    list-style: none;
    transition: height .4s;
    height: 0;
}
/*Buscador*/
.buscador{
    width: 100%;
}
.box{
    text-align: center;
}
h1{
    font-size: 30px;
}
input{
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
}
input[type="text"]
{
    background: rgb(201, 198, 198);
    height: 40px;
    border: none;
    outline: none;
    padding: 0 20px;
    border-radius: 20px 0 0 20px;
}
input[type="submit"]
{
    position: relative;
    left: -3.5px;
    height: 40px;
    width: 100px;
    border: none;
    outline: none;
    background: goldenrod;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    color: white;
}
.filtro{
    display: none;
}
/*Cards*/
.paises{
    display: flex;
    flex-wrap: wrap;
}
.slide-content{
    margin: 20px 20px;
}
.card{
    width: 200px;
    border-radius: 25px;
    background-color: antiquewhite;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    row-gap: 5px;
    position: relative;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 35%;
    width: 100%;
    background-color: floralwhite;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: floralwhite;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: antiquewhite;
}
.card-image{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: goldenrod;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid brown;
}
